body > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
    width: 97vw;
    transition: all 1s;
    z-index: 10;
    animation: slideInDown;
    animation-duration: 1s;
}

body > header img {
    width: 30px;
}

.logo a {
    display: flex;
    align-items: center;
}


.nav-header {
    display: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    border: 1px solid var(--none);
    transition: all 0.5s;
}

a:hover {
    border-bottom: 1px solid var(--text-light);
}

.icones {
    display: flex;
    gap: 1rem;
    align-items: center;
}

i {
    font-size: 1.2rem;
}

/* ----------------THEME CLASSIC----------------- */


body.theme-classic > header {
    width: 97%;
    padding: 1rem 2rem;
    position: fixed;
    background-color: var(--blue-dark);
    font-family: 'ubuntu';
}

.logo.theme-classic a,
a.theme-classic,
i.theme-classic {
    color: var(--light);
}

.nav-mobile.theme-classic {
    background-color: var(--light);
    height: 100vh;
    width: 75vw;
}

.nav-mobile.theme-classic a {
    color: var(--text-dark);
}

@media screen and(min-width: 768px) {
    body.theme-classic > header {
        height: 80px;
    }
}

/* ----------------THEME COLOR----------------- */


body.theme-color > header {
    position: fixed;
    align-items: flex-start;
    padding: 1rem;
    background-image: url(../img/header-color.png);
    box-shadow: none;
    background-size: 100% 100%;
    height: 100px;
    transition: all 0.1s;
    font-family: 'playwrite';
}

body.theme-color > header.minimized {
    position: fixed;
    padding: 0.8rem 2rem;
    background-image: none;
    height: 40px;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
}

.logo.theme-color a,
a.theme-color,
i.theme-color {
    color: var(--text-light);
}

.icones.theme-color {
    justify-content: center;
}

.nav-mobile.theme-color {
    background-color: var(--text-light);
    height: 100vh;
    width: 75vw;
}

.nav-mobile.theme-color a {
    color: var(--text-dark);
}

@media screen and (min-width:768px) {
    body.theme-color > header {
        height: 150px;
        padding: 2rem 2rem;
    }
}


/* ----------------THEME DARK----------------- */

body.theme-dark > header {
    padding: 1rem 0.5rem;
    position: fixed;
    background-color: var(--dark-blue);
    z-index: 3;
    font-family: 'michroma';
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
}

.logo.theme-dark a,
a.theme-dark,
i.theme-dark {
    color: var(--text-light);
}

.ul.theme-dark {
    flex-direction: column;
}

.nav-mobile.theme-dark {
    background-color: var(--dark-blue);
    height: 100vh;
    width: 75vw;
}

.nav-mobile.theme-dark a {
    color: var(--text-light);
}

.footer-theme-dark {
    display: none;
}

.footer-theme-dark .contact {
    display: flex;
    gap: 0.5rem;
}


@media screen and (min-width: 768px) {
    body.theme-dark > header {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        right: 0;
        height: 100vh;
        grid-column: 12 / 13;
        display: grid;
        grid-template-rows: repeat(12,1fr);
        padding: 1rem;
        width: 10%;
    }

    .nav-header {
        grid-row-start: 4;
        display: flex;
        justify-content: flex-end;
    }

    .nav-header.theme-dark ul {
        display: flex;
        flex-direction: column;
        text-align: right;
    }
    
    .logo.theme-dark {
        grid-row: 2/3;
        text-align: right;
    }

    .icones.theme-dark {
        grid-row: 1/2;
        justify-self: flex-end;
    }

    .logo.theme-dark a {
        flex-direction: column;
    }

    .menu-mobile {
        display: none;
    }

    .footer-theme-dark {
        grid-row: 11/12;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-family: 'michroma';
    }

    .footer-theme-dark .contact {
        display: flex;
        gap: 0.5rem;
    }
}
