@import 'body.css';
@import 'buttons.css';
@import 'header.css';
@import 'section-hero.css';
@import 'grid-projets.css';
@import 'modale-detail.css';
@import 'footer.css';
@import 'fonts.css';
@import 'animation.css';
@import 'accueil.css';

:root {
    --text-dark: #0D0C0B;
    --blue-dark: #6F7BBF;
    --blue-light: #79A3D9;
    --light: #F2EBEB;
    --pink: #F29F80;
    --none: rgba(0, 0, 0, 0);

    --bg-color: #F2A7A7;
    --orange-dark: #F2762E;
    --orange-light: #fabc64;
    --violet: #574973;
    --text-light: #F2EBEB;

    --dark: #02000D;
    --dark-violet: #0D0126;
    --grey: #262626;
    --dark-blue: #030140;
    --medium-blue: #030A8C;

    --box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.2);
    --box-glow: 2px 6px 10px rgba(255, 255, 255, 0.3);
}

.hidden {
    display: none;
}