.dialog-details-projets {
    background-color: var(--light);
    box-shadow: var(--box-shadow);
    height: 75%;
    grid-column: 1/5;
    margin: 2rem;
    align-self: center;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding: 0 1rem;
}

.project-details-container h3 {
    margin: 0 auto;
}

.img-modale-projet {
    max-width: 90%;
    margin: 0 auto;
}

.btn-close {
    align-self: flex-end;
}

.btns-dialog {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.list-details {
    display: flex;
    flex-direction: column;
}

.link-visitez {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.img-modale-projet.theme-classic {
    border: 1px solid var(--dark);
    border-radius: 20px;
}

.dialog-details-projets.theme-classic a, .dialog-details-projets.theme-color a {
    color: var(--dark);
    border-bottom: 1px solid var(--none);
    transition: all 0.3s;
}

.dialog-details-projets.theme-classic a:hover, .dialog-details-projets.theme-color a:hover {
    border-bottom: 1px solid var(--dark);
}

.img-modale-projet.theme-color {
    border: 1px solid var(--dark);
    border-radius: 50px;
}

.theme-dark a {
    color: var(--light);
    border-bottom: 1px solid var(--none);
    transition: all 0.3s;
}

.theme-dark a:hover {
    border-bottom: 1px solid var(--light);
}

.dialog-details-projets.theme-dark {
    background-color: var(--dark);
    border: 2px solid var(--light);
    border-radius: 0;
}

.img-modale-projet.theme-dark {
    border: 1px solid var(--light);
    border-radius: 0px;
}


@media screen and (min-width: 600px){
    .img-modale-projet {
        max-width: 70%;
        margin: 0 auto;
    }
}


@media screen and (min-width: 768px){
    .dialog-details-projets {
        grid-column: 2 / 4;
    }
}

@media screen and (min-width: 1024px){
    .dialog-details-projets {
        padding: 2rem;
        grid-column: 3 / 11;
    }
}

@media screen and (min-width: 1200px){
    .img-modale-projet {
        max-width: 40%;
        margin: 0 auto;
    }

    .project-details-container{
        padding: 0 4rem;
    }
}
